{% extends "base.html" %}{% block title %}{{ _('عن قسم الترجمة التحريرية
والشفوية') }}{% endblock title %} {% block content %}
<div class="page-intro text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="hero-title display-5 fw-bold">
      {{_('عن قسم الترجمة التحريرية والشفوية')}}
    </h1>
  </div>
</div>
<div class="container-fluid my-4 bg-light shadow-sm">
  <div class="row row g-4 py-5">
    <div class="col-lg-4 col-12 mt-5">
      <img
        src="{{url_for('content.send_prof_pic', filename='dr.rafat_alrousan_image.webp')}}"
        alt=""
        class="img-thumbnail"
      />
    </div>
    <div class="description col-12 col-lg-8 p-3">
      <h2 class="section-title font">{{ _('رئيس القسم') }}</h2>
      <h5 class="secondary-title text-center">{{ _('د. رأفت الروسان') }}</h5>
      <div>
        {{_('أنشىء قسم الترجمة في مطلع العام الجامعي 2008/2009، وهو الأول من
        نوعه في الجامعات الأردنية الرسمية. وجاء تأسيس القسم نظرا للحاجة الماسة
        لتوفير المترجمين المؤهلين في كافة المجالات كالترجمة التحريرية والشفوية
        وترجمة المؤتمرات والندوات . يعد قسم الترجمة ديناميكيا ومتطورا حيث يمنح
        القسم درجتين: درجة البكالوريوس و الماجستير في الترجمة حيث انتقل هذا
        الأخير من قسم اللغة الانجليزية في العام الجامعي 2010/2011، ويخطط القسم
        حاليا لمنح درجتي الماجستير في الترجمة الشفوية ودرجة الدكتوراة في
        الترجمة.')}} {{_(' ويشتمل البرنامج على الجانب النظري والتطبيقي ، حيث يعد
        القسم خريجين للعمل في مهنة الترجمة تمرسوا على ترجمة مختلف أنواع النصوص
        مثل الترجمة التحريرية، والشفوية، والمتخصصة، والفورية،
        والتتابعية،والدراسات النظرية والتطبيقية الأخرى. ويشمل البرنامج عدة
        مساقات في المهارات اللغوية باللغة العربية والانجليزية، و مساقات تشمل
        اللغويات المقارنة والتحليلية، وتحليل الخطاب و علم الدلالة و استخدام
        أدوات تطبيق الترجمة باستخدام الحاسوب (CAT). ويهدف البرنامج إلى تطوير
        مهارة الطلبة في الترجمة التحريرية والشفوية من أجل تلبية متطلبات سوق
        العمل من المترجمين داخل الأردن و خارجها، وخصوصا في هذا العصر الذي يشهد
        تطورا كبيرا في تكنولوجيا المعلومات والاتصالات، حيث أن هناك حاجة ماسة
        لمترجمين في مختلف المجالات والقطاعات مثل وسائل الإعلام، والمؤسسات
        الحكومية وغير الحكومية وكذلك في المؤسسات المحلية والإقليمية والدولية.
        يعقد القسم حوارات نقاشية وندوات سنوية حول دراسات الترجمة التحريرية
        والشفوية من أجل أن يبقى الأساتذة والطلبة مواكبين للمعرفة. وهناك عدد لا
        بأس به من الطلبة من خريجي القسم يتابعون دراساتهم العليا (الماجستير
        والدكتوراه) في جامعات أردنية و بريطانية وأمريكية مرموقة. ويقوم على
        التدريس نخبة من أعضاء هيئة التدريس من خريجي الجامعات الأمريكية
        والبريطانية والأسترالية والعربية.')}}
        <div class="fw-bold py-3">{{ _('الرؤية') }}</div>
        <div class="indent">
          {{ _('العمل على جعل القسم نموذجا متميزا على المستويين الوطني
          والإقليمي، والمساعدة على تقديم برنامج أكاديمي وعمل بحوث أكاديمية في
          مجال دراسات الترجمة التحريرية والشفوية، وتخريج طلبة ذوي مهارة وكفاءة
          عالية الى سوق العمل.') }}
        </div>
        <div class="fw-bold py-3">{{ _('الرسالة') }}</div>
        <div class="indent">
          {{ _('يعمل القسم بشكل دؤوب من أجل تقديم تعليم ذي جودة عالية في مجال
          دراسات الترجمة التحريرية والشفوية، وإجراء بحوث أكاديمية، والعمل على
          تقديم الخدمة الاجتماعية من خلال العملية التعليمية الشاملة وتخريج طلبة
          أكفياء و متمرسين، مما يعزز قيمنا الأخلاقية لمساعدة مجتمعنا وتلبية
          متطلباته الإنسانية والتنموية.') }}
        </div>
        <div class="fw-bold py-3">{{ _('الأهداف') }}</div>
        <ul>
          <li class="py-1">
            {{ _('المساهمة في تطوير التعليم العالي في مجال دراسات الترجمة
            التحريرية والشفوية من خلال استخدام طرق التدريس الحديثة واكتساب
            المهارات المتعلقة بالتخصص.') }}
          </li>
          <li class="py-1">
            {{ _('مواكبة التطورات في مجال دراسات الترجمة التحريرية والشفوية.')
            }}
          </li>
          <li class="py-1">
            {{ _('تعزيز العلاقات العلمية والثقافية مع أقسام الترجمة في الجامعات
            والمعاهد الأخرى لتطوير القسم وتعزيز مكانته العلمية.') }}
          </li>
          <li class="py-1">
            {{ _('إعطاء الفرصة للطلبة المتميزين لمتابعة دراساتهم العليا في مختلف
            فروع دراسات الترجمة.') }}
          </li>
          <li class="py-1">
            {{ _('تطوير المناهج والخطط الدراسية وطرائق التدريس وتقييمها لتكون
            منسجمة مع التطور التكنولوجي والتقني في الجامعة.') }}
          </li>
          <li class="py-1">
            {{ _('تزويد الطلبة بقاعدة تعليمية راسخة تعزز المعرفة الأساسية،
            ومهارات البحث، وإثراء التجارب الحياتية و مهارة الحاسوب الأساسية
            لتعليم بعيد المدى.') }}
          </li>
          <li class="py-1">{{ _('خلق تماسك بين التدريس والبحث.') }}</li>
          <li class="py-1">
            {{ _('التركيز على احترام وتقدير عامة الناس وأرائهم.') }}
          </li>
          <li class="py-1">
            {{ _('مساعدة الطلبة لتنمية مهارات التفكير الناقد وقوة الملاحظة،
            ومهارات التحليل والتواصل الكتابي والشفوي بطلاقة.') }}
          </li>
          <li class="py-1">
            {{ _('تطوير التقييم الداخلي المتكرر للتأكد من أن البرنامج يعمل
            بطريقة تنسجم مع رسالة القسم والكلية.') }}
          </li>
          <li class="py-1">
            {{ _('المساهمة في البحث الأكاديمي والتقدم للمشاريع البحثية المدعومة
            ليتم نشرها على المستوى المحلي والعالمي.') }}
          </li>
          <li class="py-1">
            {{ _('خلق قنوات الانفتاح والتواصل المحلي والإقليمي والدولي من خلال
            المشاركة وعقد المؤتمرات والندوات الحوارية والنقاشية ومن خلال تقديم
            منح دراسية داخل وخارج الدولة.') }}
          </li>
          <li class="py-1">
            {{ _('تقديم تعليم متميز وتطوير ونشر المعرفة بالإضافة الى إعداد موارد
            بشرية متعلمة ومثقفة ومؤهلة من أجل تلبية حاجات الأردن التنموية.') }}
          </li>
          <li class="py-1">
            {{ _('خلق فرص للعاملين والطلبة للتفاعل في أسلوب راق من أجل الوصول
            إلى الأهداف الأكاديمية والتنمية الشخصية.') }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
